body {
    font-family: system-ui;
}

#wrapper {
    display: grid;
    grid-template-rows: 25vh 25vh 25vh;
}
.color {
    color: rgb(171,189,38);
}
h1 {
    font-weight: 400;
}
.box {
    background-color: rgb(247,247,247);
    margin: 10px;
    position: relative;
    padding: 0 10px;
}
.first {
    font-weight: bold;
}
p {
    position: absolute;
}
i {
    float: right;
    border: 1px #ccc solid;
    background-color: white;
    margin: 8px 8px;
    padding: 4px 4px;
}